@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
	margin: 0px;
background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.img img{
	position: relative;
	top: 10px;
	left: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius:100%;
box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.25);

}
.menu{
	position: relative;
  float: right;
  top: 25px;
  right: 15px
}
.menu a{
	color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
	text-decoration: none;
	padding: 10px
}
.menu .active{
	color: #ff8f00;
}
.pro_container{


	height: 50%;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	padding: 10px;
	column-gap: 20px 
}


.image img{
	width:250px;
	height: 250px;
	object-fit: cover;
} 
.hidden{
	opacity: 0;
	transition: 1s;
}
.show{
	opacity: 1;
}
.container{

list-style: none;
		padding: 10px;
}

.product{
box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.25);

	background-color: black;
	padding: 10px;
	border-radius:10px;
	margin-top: 10px;
}
.features{
	color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}
.features p{
	margin-left: 10px;
  line-height: .9;

}
.btn_cont{
	text-align: center;

padding:8px
}
.btn{
	text-decoration: none;
	  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
	border:none;
	color: #fff;
	font-weight: 600;
background-color: #ff8f00;
font-style: 25px;
padding: 8px 55px;
border-radius: 5px;

	margin: auto;
}